<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Web Scraper</title>
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/assets/stylesheets/main.css">

</head>

<body>
  <div class="ui inverted segment">
    <div class="ui inverted secondary pointing stackable top sticky menu container">
      <a href="/home" class="active item">
        <i class="home icon"></i> Home
      </a>
      <a href="/articles/saved" class="item">
        My Saved Articles
      </a>
      <a href="/scrape_articles" class="item">
        Get Articles
      </a>
      <div class="right item right-buttons">
        {{#unless currentUser}}
        <div class="ui buttons">
          <a href="/signin" class="ui inverted button">Sign In</a>
          <div class="or"></div>
          <a href="/signup" class="ui inverted primary button">Sign Up</a>
        </div>
        {{/unless}} {{#if currentUser}}
        <a href="/logout" class="ui inverted button">Sign Out</a>
        <a href="#">
          <i class="user icon"></i> {{currentUser.firstName}}</a>
        {{/if}}
      </div>
    </div>
  </div>




  {{{ body }}}
  <div class="ui inverted bottom fixed menu">
    <p class="item">Copyright &copy;2018 Emerson Doyah Projects</p>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.js"></script>
  <script src="/assets/scripts/app.js"></script>
</body>

</html>