body{
    background-image: url("https://images.unsplash.com/photo-1529243856184-fd5465488984?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=95834c9e01a9ff2a5a61c79fc92a180f&auto=format&fit=crop&w=1969&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* nav right button */
.ui.menu:not(.vertical) .item>.button {
    margin: -.5em 0.6em;
}

/* form header */
.ui.header {
    /* text-transform: uppercase; */
    color: rgb(255, 255, 255);
}

h1.ui.header {
    font-size: 3rem;
}

h3.ui.header {
    font-size: 1.5rem;
}

.home-container{
    background: transparent;
    background: rgba(217, 230, 235, 0.931);
    height: auto;
}

.article-content{
    color:rgb(54, 53, 53);
    padding: 10px;
}

.ui.divided.items>.item {
    padding: 1em;
}

.article-content .header{
    padding: 0.3% 2%;
}

.article-content p{
    padding: 1% 2%;
}

.article-content .extra{
    padding: 1%;
}


.ui.items>.item .extra>[class*="right floated"] {
    margin: .25rem 1rem .5rem;
}

.segment .header{
    color: black;
    font-size: 10rem;
}


/* menu left */
.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item {
    color: rgb(21,171,238)!important;
    font-size: 1.3rem;
}

/* menu font size */
.ui.menu {
    font-size: 1.3rem;
}

/* menu padding */
.ui.secondary.pointing.menu .item {
    padding: .35714286em 1.14285714em;
}

/* top segment */
.ui.piled.segment:first-child {
    margin-top: 2px 0px 5px 0px;
}

/* top segment */
.ui.segment {
    position: relative;
    background: #359be8;
}

/* menu home style */
.ui.secondary.inverted.pointing.menu .active.item:hover {
    border-color: #359be8;
}

/* confirmation modal styles */
.ui.modal>.header {
    background: #359be8;
    padding: 1.25rem 1.5rem;
    color: rgba(0,0,0,.85);
}

.ui.modal > .content {
    background: rgba(217, 230, 235, 0.931);
}

.ui.modal > .actions {
    background: rgba(217, 230, 235, 0.931);
}

.ui.comments .comment .text {
    font-size: 1.3em;
}