<div class="ui container">
    <div class="ui grid">
        <div class="sixteen wide mobile eight wide tablet eight wide computer centered column">
            <div class="ui inverted segment">
                <h3 class="ui inverted dividing header">Sign In</h3>
                {{#if info}}
                <div class="ui compact blue message">
                    <i class="close icon"></i>
                    <p>{{info}}</p>
                </div>
                {{/if}} {{#if error}}
                <div class="ui compact red message">
                    <i class="close icon"></i>
                    <p>{{error}}</p>
                </div>
                {{/if}} {{#if success}}
                <div class="ui compact green message">
                    <i class="close icon"></i>
                    <p>{{success}}</p>
                </div>
                {{/if}}
                <form action="/signin" class="ui inverted form" method="POST">
                    <div class="required field">
                        <label>Username</label>
                        <div class="ui icon input">
                            <input name="username" placeholder="username" type="text" autocomplete="Username">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="required field">
                        <label>Password</label>
                        <div class="ui icon input">
                            <input type="password" name="password" placeholder="Password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="ui hidden divider"></div>
                    <div class="ui grid">
                        <div class="center aligned column">
                            <button type="submit" class="fluid ui submit primary button">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>